body{
    font-family: 'Nanum Pen Script', cursive;
}
.background-img{
    background-image: url(img/Group\ 20.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 980px;
    display: flex;
    position: relative;
}
.plan-img>a>img{
    padding: 30px;
    position: fixed;
}
.nav-box{
    position: relative;
    margin-top: 70px;
}
.nav-list{
    display: flex;
    width: 513px;
    height: 50px;
    background-color: rgba(139, 179, 202, 0.6);;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1073px;
}
.nav-list>li{
    margin-left: 30px;
    font-size: 20px;
}
.nav-list>li>a>p{
    color: #F9F9F9;
}
.main-text{
    color: #F9F9F9;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.main-text>h1{
    font-size: 82px;
    margin-bottom: 6px;
}
.main-text>h2{
    font-size: 22px;
}
.main-text>p{
    font-size: 16px;
}
.inner-text>h2{
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
}
.inner-text>p{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
.about-text{
    margin-top: 100px;
    margin-left: 50px;
}
.about-main{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.about-title{
    display: flex;
}
.about-title>h3{
    font-size: 28px;
    margin-bottom: 32px;
}
.about-text>p{
    line-height: 30px;
}
.skill-background{
    width: 100%;
    height: 894px;
    background-color: #98C4EB;
}
.skill-img>ul{
    display: flex;
    justify-content: center;
}
.skill-img>ul>li{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #F9F9F9;
    margin-left: 68px;
}
.skill-img>ul>li>a>img{
    margin: 0 auto;
    margin-top: 65px;
}